.about{
    background-color: #191919;
}
img.about__img{
    border-radius: 10px;
    width: 100%;
}

h1.about__heading{
    margin-bottom:10px ;
    font-weight: 700;
    text-align: start;
    font-family: montserrat,sans-serif;
    font-size: 60px;
}

button.about.btn.pointer{
    text-transform: capitalize;
    width: 195px;
    height: 55px;
    font-size: 18px;
    transition: .4s ease;
    margin: 10px;
}

.about__button{
    padding:20 20px 0px;
}
.up__to__top__btn{
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    background-color: #900409;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease;
    z-index: 1000;

}
/* .coll{
    padding-top: 30%;
    align-items: center;
} */
.about__text{
    font-size: 25px;
    font-weight: 100;
    font-family: montserrat,sans-serif;
    line-height: 35px;  
    color: aliceblue; 
}
.bottom__to__top{
    display: flex;
}
@media only screen and (max-width: 1024px){
    .p__color{
        font-size: 15px!important;
    }
}
@media only screen and (max-width: 425px){
    button.about.btn.pointer {
        text-transform: capitalize;
        width: 165px;
        height: 50px;
        font-size: 13px;
        transition: .4s ease;
    }
    }